<%=  google_map :width => 800, :height => 500 %>
<div id="statusbar" style="display: none;"> 
  <div id="statusbar_content"> 
  </div> 
</div>
<script type="text/javascript" charset="utf-8">
  dlgStatusBar.init($('statusbar'), $('statusbar_content'));
  dlgStatusBar.status('Loading map....');
</script>
<%= link_to_remote :add_markers,  :url => { :action => "add_markers"} , :before => "clear_map()"%><br/>